@import url("https://fonts.googleapis.com/css?family=Muli|Oswald|Rufina&display=swap");
.navbar {
  display: grid;
  grid-template-columns: 20rem 1fr;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 999999; }
  .navbar-logo {
    width: 15rem;
    padding: 0 1rem; }
    .navbar-logo-img {
      width: 100%;
      height: 10rem;
      object-fit: cover; }
  .navbar-button {
    display: flex;
    justify-content: flex-end;
    padding: 3rem; }
    .navbar-button-book {
      font-size: 1.3rem;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-right: 5rem;
      padding: 1.2rem 7rem;
      border: 1px solid #F6D478;
      color: #F6D478;
      cursor: pointer; }
      .navbar-button-book:hover {
        background: #F6D478;
        color: #ffff; }
    .navbar-button-hamburger {
      padding: 1rem;
      cursor: pointer; }
  .navbar-down {
    z-index: 999998;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background: #161A28;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 2rem 5rem; }
    .navbar-down-content {
      width: 60%;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      display: grid;
      grid-template-rows: repeat(2, 22rem); }
      .navbar-down-content-slogan {
        color: #9B9B9B;
        font-size: 8rem; }
        .navbar-down-content-slogan-h1 {
          font-weight: 700;
          padding: 2rem 0 4rem 0;
          display: inline-block;
          border-bottom: 1px solid #9B9B9B; }
    .navbar-down-link {
      font-size: 6rem;
      padding: 2rem;
      font-weight: 500;
      text-transform: capitalize;
      font-family: "Rufina", serif; }
      .navbar-down-link-item {
        list-style: none; }
        .navbar-down-link-item a:hover {
          cursor: pointer;
          color: #F6D478;
          border-bottom: 1px solid #F6D478; }
    .navbar-down-bookside {
      position: absolute;
      top: 50%;
      right: 5%;
      width: 30%;
      transform: translateY(-50%); }
      .navbar-down-bookside p {
        font-family: "Muli", sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 1.5rem;
        padding: 2rem 0;
        line-height: 2;
        color: #9B9B9B;
        margin-top: 2rem; }
    .navbar-down-bottom {
      color: #ffff;
      display: flex;
      justify-content: flex-start;
      padding: 0 2rem;
      font-size: 4rem;
      font-weight: 900;
      font-family: "Muli", sans-serif; }
      .navbar-down-bottom-item-1 {
        display: flex;
        align-items: flex-end;
        margin-right: auto; }
        .navbar-down-bottom-item-1 a {
          cursor: pointer;
          padding-bottom: 2px; }
          .navbar-down-bottom-item-1 a:not(:last-child) {
            margin-right: 5rem; }
          .navbar-down-bottom-item-1 a:hover {
            border-bottom: 1px solid #ffff; }
      .navbar-down-bottom-item-2 {
        font-family: "Oswald", sans-serif; }
        .navbar-down-bottom-item-2-phone {
          text-align: end;
          color: #F6D478;
          margin-bottom: 1rem; }
        .navbar-down-bottom-item-2-address {
          font-weight: 400; }

.home-top-content {
  background-image: linear-gradient(rgba(22, 26, 40, 0.8), rgba(22, 26, 40, 0.8)), url("../img/home/home-top.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .home-top-content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center; }
    .home-top-content-box-slogan {
      font-size: 2rem;
      color: #F6D478;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1rem; }
    .home-top-content-box h1 {
      font-size: 10rem;
      font-family: "Rufina", serif;
      color: #ffff;
      margin-top: 4rem;
      font-weight: 500; }
    .home-top-content-box::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left: 50%;
      right: 0;
      width: 0.2%;
      height: 40%;
      background: #F6D478;
      z-index: -1; }

.home-main {
  height: 250rem;
  padding-top: 15rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png"); }
  .home-main-order {
    display: flex;
    justify-content: center; }
    .home-main-order-content {
      display: flex;
      padding-bottom: 5rem; }
      .home-main-order-content-food {
        transform: translateY(-20rem);
        box-shadow: 4rem 3rem 6rem 0 rgba(0, 0, 0, 0.23); }
        .home-main-order-content-food-card {
          margin-bottom: -2px;
          cursor: pointer;
          position: relative; }
          .home-main-order-content-food-card:before {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(44, 51, 70, 0.9) 20%, rgba(255, 0, 0, 0)); }
          .home-main-order-content-food-card:hover:before {
            background-image: linear-gradient(to top, rgba(44, 51, 70, 0.9) 100%, rgba(255, 0, 0, 0)); }
          .home-main-order-content-food-card img {
            height: 100%;
            width: 100%; }
          .home-main-order-content-food-card-info {
            position: absolute;
            bottom: 1%;
            padding: 2rem;
            width: 100%; }
            .home-main-order-content-food-card-info h2 {
              font-size: 3rem;
              color: #ffff;
              font-family: "Rufina", serif; }
            .home-main-order-content-food-card-info-price {
              margin-top: 1rem;
              font-size: 2rem;
              display: flex;
              justify-content: space-between;
              font-family: "Oswald", sans-serif;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 3px; }
              .home-main-order-content-food-card-info-price-1 {
                color: #F6D478; }
              .home-main-order-content-food-card-info-price-2 {
                color: #ffff; }
      .home-main-order-content-intro {
        padding: 2rem 0 0 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .home-main-order-content-intro-item h1 {
          font-size: 6rem;
          font-family: "Rufina", serif;
          color: #6b0d2b;
          margin-bottom: 2rem; }
        .home-main-order-content-intro-item p {
          font-family: "Muli", sans-serif;
          font-size: 2rem;
          max-width: 50rem;
          padding-left: 6rem;
          color: #161A28; }
        .home-main-order-content-intro-item a {
          color: #6b0d2b;
          font-size: 1.6rem;
          letter-spacing: 3px;
          font-family: "Oswald", sans-serif;
          font-weight: 200;
          padding: 1rem 5rem;
          border: 1px solid #6b0d2b;
          text-transform: uppercase;
          cursor: pointer; }
          .home-main-order-content-intro-item a:hover {
            color: #ffff;
            background: #6b0d2b; }

*, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  height: 500rem; }
