@import url("https://fonts.googleapis.com/css?family=Muli|Oswald|Rufina&display=swap");
.navbar {
  display: grid;
  grid-template-columns: 20rem 1fr;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 999999; }
  @media only screen and (max-width: 1150px) {
    .navbar {
      display: flex;
      justify-content: space-between; } }
  .navbar-logo {
    width: 15rem;
    padding: 0 1rem; }
    .navbar-logo-img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      box-shadow: none; }
  .navbar-button {
    display: flex;
    justify-content: flex-end;
    padding: 3rem; }
    .navbar-button-book {
      font-size: 1.3rem;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-right: 5rem;
      padding: 1.2rem 7rem;
      border: 1px solid #F6D478;
      color: #F6D478;
      cursor: pointer; }
      .navbar-button-book:hover {
        background: #F6D478;
        color: #ffff; }
      @media only screen and (max-width: 450px) {
        .navbar-button-book {
          display: none !important; } }
    .navbar-button-hamburger {
      padding: 1rem;
      cursor: pointer; }
  .navbar-down {
    z-index: 999998;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background: #161A28;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 2rem 5rem; }
    .navbar-down-content {
      width: 60%;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      display: grid;
      grid-template-rows: repeat(2, 22rem); }
      @media only screen and (max-width: 1150px) {
        .navbar-down-content {
          width: 80%; } }
      @media only screen and (max-width: 900px) {
        .navbar-down-content {
          width: 100%;
          display: flex;
          flex-direction: column; } }
      .navbar-down-content-slogan {
        color: #9B9B9B;
        font-size: 8rem; }
        @media only screen and (max-width: 900px) {
          .navbar-down-content-slogan {
            display: none; } }
        .navbar-down-content-slogan-h1 {
          font-weight: 700;
          padding: 2rem 0 4rem 0;
          display: inline-block;
          border-bottom: 1px solid #9B9B9B; }
          @media only screen and (max-width: 1350px) {
            .navbar-down-content-slogan-h1 {
              font-size: 4rem; } }
    .navbar-down-link {
      font-size: 6rem;
      padding: 2rem;
      font-weight: 500;
      text-transform: capitalize;
      font-family: "Rufina", serif; }
      .navbar-down-link-item {
        list-style: none; }
        .navbar-down-link-item a {
          text-decoration: none;
          color: #ffff; }
        .navbar-down-link-item a:hover {
          cursor: pointer;
          color: #F6D478;
          border-bottom: 1px solid #F6D478; }
    .navbar-down-bookside {
      position: absolute;
      top: 50%;
      right: 5%;
      width: 30%;
      transform: translateY(-50%); }
      @media only screen and (max-width: 900px) {
        .navbar-down-bookside {
          position: relative;
          top: 0;
          right: 0;
          transform: translateY(0);
          padding: 2rem; } }
      .navbar-down-bookside-btn {
        font-size: 1.3rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        margin-right: 5rem;
        padding: 1.2rem 7rem;
        border: 1px solid #F6D478;
        color: #F6D478;
        cursor: pointer; }
        .navbar-down-bookside-btn:hover {
          background: #F6D478;
          color: #ffff; }
      .navbar-down-bookside p {
        font-family: "Muli", sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 1.5rem;
        padding: 2rem 0;
        line-height: 2;
        color: #9B9B9B;
        margin-top: 2rem; }
        @media only screen and (max-width: 900px) {
          .navbar-down-bookside p {
            display: none; } }
    .navbar-down-bottom {
      color: #ffff;
      display: flex;
      justify-content: flex-start;
      padding: 0 2rem;
      font-size: 4rem;
      font-weight: 900;
      font-family: "Muli", sans-serif; }
      .navbar-down-bottom-item-1 {
        display: flex;
        align-items: flex-end;
        margin-right: auto; }
        @media only screen and (max-width: 900px) {
          .navbar-down-bottom-item-1 {
            display: none; } }
        .navbar-down-bottom-item-1 a {
          cursor: pointer;
          padding-bottom: 2px; }
          .navbar-down-bottom-item-1 a:not(:last-child) {
            margin-right: 5rem; }
          .navbar-down-bottom-item-1 a:hover {
            border-bottom: 1px solid #ffff; }
      .navbar-down-bottom-item-2 {
        font-family: "Oswald", sans-serif; }
        @media only screen and (max-width: 900px) {
          .navbar-down-bottom-item-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto; } }
        .navbar-down-bottom-item-2-phone {
          text-align: end;
          color: #F6D478;
          margin-bottom: 1rem; }
        .navbar-down-bottom-item-2-address {
          font-weight: 400; }

h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Rufina", serif;
  color: #6b0d2b; }
  @media only screen and (max-width: 1350px) {
    h1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 450px) {
    h1 {
      font-size: 3rem; } }

.home-top-content {
  background-image: linear-gradient(rgba(22, 26, 40, 0.8), rgba(22, 26, 40, 0.8)), url("../img/home/home-top.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (max-width: 450px) {
    .home-top-content {
      height: 75vh; } }
  .home-top-content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center; }
    .home-top-content-box-slogan {
      font-size: 2rem;
      color: #F6D478;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1rem; }
      @media only screen and (max-width: 450px) {
        .home-top-content-box-slogan {
          font-size: 1.6rem;
          letter-spacing: 5px; } }
    .home-top-content-box h1 {
      font-size: 10rem;
      font-family: "Rufina", serif;
      color: #ffff;
      margin-top: 4rem;
      font-weight: 500; }
      @media only screen and (max-width: 450px) {
        .home-top-content-box h1 {
          font-size: 4rem !important; } }
      @media only screen and (max-width: 1150px) {
        .home-top-content-box h1 {
          font-size: 6rem; } }
    .home-top-content-box::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left: 50%;
      right: 0;
      width: 0.2%;
      height: 40%;
      background: #F6D478;
      z-index: -1; }
      @media only screen and (max-width: 450px) {
        .home-top-content-box::after {
          display: none; } }

.home-main {
  padding-top: 15rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png"); }
  @media only screen and (max-width: 900px) {
    .home-main {
      padding-top: 0; } }
  .home-main-order {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .home-main-order {
        flex-direction: column; } }
    .home-main-order-content {
      display: flex;
      padding-bottom: 5rem; }
      @media only screen and (max-width: 900px) {
        .home-main-order-content {
          flex-direction: column; } }
      .home-main-order-content-food {
        transform: translateY(-20rem);
        box-shadow: 4rem 3rem 6rem 0 rgba(0, 0, 0, 0.23); }
        @media only screen and (max-width: 900px) {
          .home-main-order-content-food {
            order: 2;
            transform: translateY(0);
            padding: 2rem;
            margin-top: 2rem;
            box-shadow: none; } }
        .home-main-order-content-food-card {
          margin-bottom: -2px;
          cursor: pointer;
          position: relative; }
          .home-main-order-content-food-card:before {
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0%;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(44, 51, 70, 0.9) 20%, rgba(255, 0, 0, 0)); }
          .home-main-order-content-food-card:hover:before {
            background-image: linear-gradient(to top, rgba(44, 51, 70, 0.9) 100%, rgba(255, 0, 0, 0)); }
          .home-main-order-content-food-card img {
            height: 100%;
            width: 100%; }
          .home-main-order-content-food-card-info {
            position: absolute;
            bottom: 1%;
            padding: 2rem;
            width: 100%; }
            .home-main-order-content-food-card-info h2 {
              font-size: 3rem;
              color: #ffff;
              font-family: "Rufina", serif; }
            .home-main-order-content-food-card-info-price {
              margin-top: 1rem;
              font-size: 2rem;
              display: flex;
              justify-content: space-between;
              font-family: "Oswald", sans-serif;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 3px; }
              .home-main-order-content-food-card-info-price-1 {
                color: #F6D478; }
              .home-main-order-content-food-card-info-price-2 {
                color: #ffff; }
      .home-main-order-content-intro {
        padding: 2rem 0 0 10rem; }
        @media only screen and (max-width: 450px) {
          .home-main-order-content-intro {
            text-align: center;
            padding: 2rem; } }
        .home-main-order-content-intro-item p {
          font-family: "Muli", sans-serif;
          font-size: 1.6rem;
          font-weight: 400;
          max-width: 50rem;
          padding-left: 6rem;
          color: #161A28;
          margin: 2rem 0 6rem 0;
          line-height: 1.5; }
          @media only screen and (max-width: 450px) {
            .home-main-order-content-intro-item p {
              font-size: 1.3rem; } }
          @media only screen and (max-width: 450px) {
            .home-main-order-content-intro-item p {
              padding-left: 0; } }
        .home-main-order-content-intro-item a {
          color: #6b0d2b;
          font-size: 1.6rem;
          letter-spacing: 3px;
          font-family: "Oswald", sans-serif;
          font-weight: 200;
          padding: 1rem 5rem;
          border: 1px solid #6b0d2b;
          text-transform: uppercase;
          cursor: pointer; }
          .home-main-order-content-intro-item a:hover {
            color: #ffff;
            background: #6b0d2b; }

.home-story {
  display: flex;
  justify-content: center;
  background: #1F2639; }
  .home-story-content {
    max-width: 60%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 1150px) {
      .home-story-content {
        max-width: 80%; } }
    @media only screen and (max-width: 900px) {
      .home-story-content {
        max-width: 100%; } }
    .home-story-content-box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 3rem 10rem 3rem 3rem;
      color: #ffff;
      font-family: "Muli", sans-serif; }
      @media only screen and (max-width: 900px) {
        .home-story-content-box {
          padding: 3rem; } }
      .home-story-content-box h1 {
        color: #ffff;
        text-align: end; }
        @media only screen and (max-width: 900px) {
          .home-story-content-box h1 {
            text-align: start; } }
      .home-story-content-box p {
        font-size: 1.5rem;
        margin: 2rem 0 6rem 0;
        padding-right: 5rem;
        line-height: 1.5; }
        @media only screen and (max-width: 900px) {
          .home-story-content-box p {
            margin: 2rem 0; } }
      .home-story-content-box .arrow-btn {
        color: #F6D478;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 3px;
        padding: 1rem;
        cursor: pointer;
        font-family: "Oswald", sans-serif; }
        .home-story-content-box .arrow-btn:hover .fa {
          transform: translateX(1rem); }
        .home-story-content-box .arrow-btn .fa {
          transition: transform 0.2s ease; }
    .home-story-content img {
      transform: translateY(-10%); }
      @media only screen and (max-width: 1350px) {
        .home-story-content img {
          max-width: 30rem;
          transform: translateY(-20%); } }
      @media only screen and (max-width: 900px) {
        .home-story-content img {
          display: none; } }
  .home-story-img img {
    width: 100%; }

.home-news {
  padding: 8rem 0;
  list-style: none; }
  @media only screen and (max-width: 900px) {
    .home-news {
      padding: 10rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .home-news {
      padding: 2rem 2rem 15rem 2rem; } }
  .home-news-item {
    cursor: pointer; }
    .home-news-item:hover {
      background: #2C3346; }
      .home-news-item:hover .home-news-item-card-content-summary {
        color: #ffff; }
    .home-news-item-card {
      display: flex;
      margin: 0 auto;
      width: 50%;
      border-bottom: 1px solid #9B9B9B;
      padding: 2rem 0; }
      @media only screen and (max-width: 900px) {
        .home-news-item-card {
          width: 100%; } }
      .home-news-item-card-img {
        padding: 1rem; }
        .home-news-item-card-img img {
          width: 100%; }
          @media only screen and (max-width: 550px) {
            .home-news-item-card-img img {
              width: 9rem; } }
      .home-news-item-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        margin-left: 4rem;
        padding-right: 3rem; }
        @media only screen and (max-width: 550px) {
          .home-news-item-card-content {
            margin-left: 2rem;
            padding-right: 0; } }
        .home-news-item-card-content-date {
          font-size: 1.2rem;
          font-family: "Oswald", sans-serif;
          color: #9B9B9B;
          font-weight: 700;
          letter-spacing: 2px; }
        .home-news-item-card-content-summary {
          font-size: 2.5rem;
          font-weight: 700;
          font-family: "Rufina", serif;
          color: #6b0d2b;
          font-weight: 700; }

.home-time {
  padding: 8rem 0; }
  @media only screen and (max-width: 1350px) {
    .home-time img {
      width: 30rem; } }
  @media only screen and (max-width: 900px) {
    .home-time {
      display: none; } }
  .home-time-content {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8rem; }
    @media only screen and (max-width: 1150px) {
      .home-time-content {
        max-width: 80%; } }
    @media only screen and (max-width: 900px) {
      .home-time-content {
        max-width: 100%; } }
    .home-time-content > * {
      z-index: 9; }
    .home-time-content:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 70%;
      background: #F5F6FA;
      transform: translateY(-50%); }
    .home-time-content-visit {
      flex-grow: 2;
      color: #6b0d2b;
      font-family: "Rufina", serif;
      transform: translate(-30%, -50%);
      font-weight: 900; }
    .home-time-content-day {
      align-self: center;
      justify-self: flex-start; }
  .home-time-clock {
    background: #ffff;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1px solid #9B9B9B;
    position: absolute;
    top: 10%;
    right: -5%;
    z-index: 9;
    transform: translateY(-50%); }
    @media only screen and (max-width: 900px) {
      .home-time-clock {
        right: 5%; } }
    .home-time-clock .number {
      --rotation: 0;
      font-size: 1rem;
      color: #9B9B9B;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: rotate(var(--rotation)); }
      .home-time-clock .number-1 {
        --rotation: 30deg; }
      .home-time-clock .number-2 {
        --rotation: 60deg; }
      .home-time-clock .number-3 {
        --rotation: 90deg; }
      .home-time-clock .number-4 {
        --rotation: 120deg; }
      .home-time-clock .number-5 {
        --rotation: 150deg; }
      .home-time-clock .number-6 {
        --rotation: 180deg; }
      .home-time-clock .number-7 {
        --rotation: 210deg; }
      .home-time-clock .number-8 {
        --rotation: 240deg; }
      .home-time-clock .number-9 {
        --rotation: 270deg; }
      .home-time-clock .number-10 {
        --rotation: 300deg; }
      .home-time-clock .number-11 {
        --rotation: 330deg; }
    .home-time-clock .hand {
      --rotation: 60deg;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform-origin: bottom;
      transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
      background: #9B9B9B; }
      .home-time-clock .hand-second {
        width: 0.1rem;
        height: 45%; }
      .home-time-clock .hand-minute {
        width: 0.2rem;
        height: 40%; }
      .home-time-clock .hand-hour {
        width: 0.2rem;
        height: 30%; }
  .home-time-table {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: "Oswald", sans-serif; }
    @media only screen and (max-width: 900px) {
      .home-time-table {
        display: none; } }
    .home-time-table th {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 2rem; }
    .home-time-table th,
    .home-time-table td {
      height: 3rem;
      width: 8rem;
      text-align: start; }
    .home-time-table td {
      color: #9B9B9B;
      font-size: 1.5rem; }

.news-letter {
  background: #F5F6FA;
  margin: 10rem 0; }
  .news-letter-box {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .news-letter-box-content {
      margin-top: 5rem; }
      .news-letter-box-content input {
        font-family: "Muli", sans-serif;
        background: transparent;
        border: none;
        width: 30rem;
        padding: 1.3rem 0;
        font-size: 1.6rem;
        border-bottom: 1px solid #9B9B9B;
        margin-right: 2rem; }
        .news-letter-box-content input::placeholder {
          font-size: 1.5rem; }
        .news-letter-box-content input:focus {
          outline: none; }
      .news-letter-box-content a {
        background: #6b0d2b;
        color: #ffff;
        border: none; }

.form-box {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Muli", sans-serif; }
  .form-box input,
  .form-box textarea {
    font-family: "Muli", sans-serif;
    background: transparent;
    border: none;
    width: 50rem;
    padding: 2rem 0;
    font-size: 1.6rem;
    border-bottom: 1px solid #9B9B9B; }
    .form-box input::placeholder,
    .form-box textarea::placeholder {
      font-size: 1.5rem; }
    .form-box input:focus,
    .form-box textarea:focus {
      outline: none; }
  .form-box textarea {
    height: 20rem;
    margin-bottom: 4rem; }
  .form-box .navbar-button-book {
    align-self: flex-end;
    background: #6b0d2b;
    color: #ffff;
    border: none; }

.footer {
  background: #161A28;
  position: relative;
  padding: 5rem 2rem;
  color: #ffff;
  font-family: "Muli", sans-serif; }
  @media only screen and (max-width: 900px) {
    .footer {
      display: flex;
      align-items: flex-end;
      padding: 10rem 1rem 5rem 1rem; } }
  .footer-book-button {
    background: linear-gradient(70deg, #401429, #161a28);
    box-shadow: 40px 30px 60px 0 rgba(0, 0, 0, 0.23);
    padding: 6rem;
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 450px) {
      .footer-book-button {
        padding: 6rem 4rem; } }
    .footer-book-button-btn {
      font-size: 1.3rem;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-right: 5rem;
      padding: 1.2rem 7rem;
      border: 1px solid #F6D478;
      color: #F6D478;
      cursor: pointer; }
      .footer-book-button-btn:hover {
        background: #F6D478;
        color: #ffff; }
    .footer-book-button a {
      margin: 0 auto;
      text-decoration: none; }
  .footer-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: flex-end;
    align-items: center; }
    @media only screen and (max-width: 900px) {
      .footer-grid {
        display: flex;
        flex-direction: column; } }
    .footer-grid-item {
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media only screen and (max-width: 1150px) {
        .footer-grid-item {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 900px) {
        .footer-grid-item {
          font-size: 2rem; } }
      .footer-grid-item p {
        margin: 0 auto; }
        @media only screen and (max-width: 900px) {
          .footer-grid-item p {
            margin: 2rem auto; } }
      .footer-grid-item img {
        margin-right: 3rem; }
        @media only screen and (max-width: 900px) {
          .footer-grid-item img {
            width: 10rem; } }
      .footer-grid-item div a {
        font-size: inherit;
        font-family: "Rufina", serif;
        font-weight: 700;
        border-bottom: 1px solid #ffff;
        cursor: pointer; }
        .footer-grid-item div a:hover {
          border: none; }
        .footer-grid-item div a:not(:last-child) {
          margin-right: 3rem; }

.restaurant {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");
  padding: 20rem 0 5rem 0;
  padding-bottom: 15rem !important; }
  .restaurant p {
    font-family: "Muli", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 50rem;
    padding-left: 6rem;
    color: #161A28;
    margin: 2rem 0 6rem 0;
    line-height: 1.5; }
    @media only screen and (max-width: 450px) {
      .restaurant p {
        font-size: 1.3rem; } }
  .restaurant-story {
    width: 60%;
    margin: 0 auto; }
    .restaurant-story h1 {
      position: relative;
      z-index: 9;
      text-align: center; }
    .restaurant-story-box {
      margin-top: 12rem;
      height: 40rem;
      display: flex;
      justify-content: space-around;
      position: relative; }
      .restaurant-story-box > * {
        z-index: 9; }
      .restaurant-story-box:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100%;
        background: #F5F6FA;
        transform: translateY(-50%); }
      .restaurant-story-box h1 {
        padding-top: 5rem; }
      .restaurant-story-box-arrows {
        position: absolute;
        right: 10%;
        bottom: 0;
        font-size: 1rem;
        transform: translateY(50%); }
        .restaurant-story-box-arrows .fa {
          padding: 2rem;
          background: #161A28;
          color: #ffff;
          margin-right: 1rem;
          cursor: pointer; }
          .restaurant-story-box-arrows .fa:hover {
            filter: brightness(250%); }
      .restaurant-story-box-img {
        padding: 2rem;
        margin-right: 5rem;
        transform: translateY(-20%);
        position: relative; }
        .restaurant-story-box-img .active {
          opacity: 1; }
        .restaurant-story-box-img img {
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity .4s ease-in; }
    .restaurant-story-history {
      padding: 0 4rem 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .restaurant-story-history-img {
        z-index: 10;
        transform: translateY(-30%);
        outline: none; }
  .restaurant .restaurant-mid-image {
    margin: 4rem 0; }
    .restaurant .restaurant-mid-image img {
      width: 100%;
      object-fit: cover;
      height: auto;
      max-height: 57rem; }

.restaurant-main {
  width: 60%;
  margin: 0 auto; }
  .restaurant-main-text {
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between; }
  .restaurant-main-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem; }
    .restaurant-main-img img {
      box-shadow: 1rem 2rem 2rem 0 rgba(0, 0, 0, 0.23); }

.menu-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");
  padding: 20rem 0 5rem 0; }

.menu-top {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  margin: 0 auto; }
  .menu-top p {
    font-family: "Muli", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 50rem;
    padding-left: 6rem;
    color: #161A28;
    margin: 2rem 0 6rem 0;
    line-height: 1.5;
    margin-top: 5rem; }
    @media only screen and (max-width: 450px) {
      .menu-top p {
        font-size: 1.3rem; } }

.menu-food-1 {
  background-image: linear-gradient(rgba(22, 26, 40, 0.6), rgba(22, 26, 40, 0.6)), url("../img/menu/menu-bg-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .menu-food-1 img {
    transform: translate(-5rem, -30%); }
  .menu-food-1-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .menu-food-1-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .menu-food-1-info-item {
      z-index: 9;
      padding: 2rem; }
      .menu-food-1-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .menu-food-1-info-item div {
        display: flex;
        justify-content: space-between; }
      .menu-food-1-info-item p,
      .menu-food-1-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .menu-food-1-info-item p {
        color: #F6D478; }

.menu-food-2 {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .menu-food-2 img {
    transform: translate(5rem, -30%); }
  .menu-food-2-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .menu-food-2-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .menu-food-2-info-item {
      z-index: 9;
      padding: 2rem; }
      .menu-food-2-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .menu-food-2-info-item div {
        display: flex;
        justify-content: space-between; }
      .menu-food-2-info-item p,
      .menu-food-2-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .menu-food-2-info-item p {
        color: #F6D478; }

.menu-food-3 {
  background-image: linear-gradient(rgba(22, 26, 40, 0.6), rgba(22, 26, 40, 0.6)), url("../img/menu/menu-bg-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .menu-food-3 img {
    transform: translate(-5rem, -30%); }
  .menu-food-3-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .menu-food-3-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .menu-food-3-info-item {
      z-index: 9;
      padding: 2rem; }
      .menu-food-3-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .menu-food-3-info-item div {
        display: flex;
        justify-content: space-between; }
      .menu-food-3-info-item p,
      .menu-food-3-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .menu-food-3-info-item p {
        color: #F6D478; }

.menu-food-4 {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .menu-food-4 img {
    transform: translate(5rem, -30%); }
  .menu-food-4-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .menu-food-4-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .menu-food-4-info-item {
      z-index: 9;
      padding: 2rem; }
      .menu-food-4-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .menu-food-4-info-item div {
        display: flex;
        justify-content: space-between; }
      .menu-food-4-info-item p,
      .menu-food-4-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .menu-food-4-info-item p {
        color: #F6D478; }
  .menu-food-4 p {
    font-size: 1.6rem;
    padding: 5rem;
    line-height: 2;
    font-family: "Muli", sans-serif; }

.specials-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");
  padding: 20rem 0 5rem 0;
  padding-bottom: 0 !important; }

.specials-top {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  margin: 0 auto; }
  .specials-top h1 {
    padding: 1rem 0;
    border-bottom: 2px solid; }

.specials {
  background-image: linear-gradient(rgba(22, 26, 40, 0.6), rgba(22, 26, 40, 0.6)), url("../img/specials/special-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .specials img {
    transform: translate(-5rem, -30%); }
  .specials-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .specials-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .specials-info-item {
      z-index: 9;
      padding: 2rem; }
      .specials-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .specials-info-item div {
        display: flex;
        justify-content: space-between; }
      .specials-info-item p,
      .specials-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .specials-info-item p {
        color: #F6D478; }
  .specials-info div {
    flex-direction: column; }
  .specials-info-date, .specials-info-price {
    font-size: 1.2rem;
    color: #F6D478;
    font-family: "Oswald", sans-serif; }
  .specials-info-slogan {
    font-size: 1.6rem;
    padding: 5rem;
    line-height: 2;
    font-family: "Muli", sans-serif; }
  .specials-info-price {
    text-align: end; }

.contact-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");
  padding: 20rem 0 5rem 0; }

.contact-top {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  margin: 0 auto; }

.contact-main {
  background-image: linear-gradient(rgba(22, 26, 40, 0.6), rgba(22, 26, 40, 0.6)), url("../img/contact/contact-bg-top.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10rem 0;
  align-items: center; }
  .contact-main img {
    transform: translate(-5rem, -30%); }
  .contact-main-info {
    z-index: 9;
    color: white;
    background: linear-gradient(70deg, #161a28, #2e3c5c);
    position: relative;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
    .contact-main-info h1 {
      color: #ffff;
      margin-bottom: 2rem;
      transform: translateX(-10rem); }
    .contact-main-info-item {
      z-index: 9;
      padding: 2rem; }
      .contact-main-info-item h3 {
        font-size: 2.2rem;
        font-family: "Rufina", serif;
        margin-bottom: 1rem; }
      .contact-main-info-item div {
        display: flex;
        justify-content: space-between; }
      .contact-main-info-item p,
      .contact-main-info-item span {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
      .contact-main-info-item p {
        color: #F6D478; }
  .contact-main-top p {
    font-size: 1.6rem;
    padding: 1rem 5rem;
    line-height: 2;
    font-family: "Muli", sans-serif; }
  .contact-main-top-mail {
    font-weight: 900; }

.book-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");
  padding: 20rem 0 5rem 0; }

.book-top {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  margin: 0 auto;
  flex-direction: column !important;
  justify-content: flex-start;
  align-items: center;
  height: 50vh; }
  .book-top p {
    font-family: "Muli", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 50rem;
    padding-left: 6rem;
    color: #9B9B9B;
    margin: 2rem 0 6rem 0;
    line-height: 1.5;
    line-height: 2; }
    @media only screen and (max-width: 450px) {
      .book-top p {
        font-size: 1.3rem; } }

*, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

a {
  text-decoration: none; }
