@import '../var';

h1 {
    font-size: 5rem;
    font-weight: 900;
    font-family: $font-rufina;
    color: $color-red-berry;

    @media only screen and (max-width:1350px) {
        font-size: 4rem;
    }

    @media only screen and (max-width:450px) {

        font-size: 3rem;
    }

}



.home-top-content {
    background-image: linear-gradient(rgba(22, 26, 40, 0.8), rgba(22, 26, 40, 0.8)), url("../img/home/home-top.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media only screen and (max-width:450px) {

        height: 75vh;
    }

    &-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        text-align: center;

        &-slogan {
            font-size: 2rem;
            color: $color-orange-light;
            font-family: $font-oswald;
            letter-spacing: 1rem;

            @media only screen and (max-width:450px) {

                font-size: 1.6rem;
                letter-spacing: 5px;
            }

        }

        & h1 {
            font-size: 10rem;
            font-family: $font-rufina;
            color: $color-white;
            margin-top: 4rem;
            font-weight: 500;

            @media only screen and (max-width:450px) {

                font-size: 4rem !important;
            }

            @media only screen and (max-width:1150px) {

                font-size: 6rem;

            }
        }

        &::after {

            content: "";
            position: absolute;
            bottom: -50%;
            left: 50%;
            right: 0;
            width: 0.2%;
            height: 40%;
            background: $color-orange-light;

            z-index: -1;

            @media only screen and (max-width:450px) {

                display: none;
            }
        }



    }



}

.home-main {


    padding-top: 15rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/home/background-mid.png");

    @media only screen and (max-width:900px) {
        padding-top: 0;
    }

    &-order {
        display: flex;
        justify-content: center;

        @media only screen and (max-width:900px) {
            flex-direction: column;
        }

        &-content {
            display: flex;
            padding-bottom: 5rem;

            @media only screen and (max-width:900px) {
                flex-direction: column;



            }

            &-food {
                transform: translateY(-20rem);



                box-shadow: 4rem 3rem 6rem 0 rgba(0, 0, 0, .23);

                @media only screen and (max-width:900px) {
                    order: 2;
                    transform: translateY(0);
                    padding: 2rem;
                    margin-top: 2rem;
                    box-shadow: none;

                }

                &-card {
                    margin-bottom: -2px;
                    cursor: pointer;




                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0%;
                        left: 0%;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to top, rgba($color-dark-blue, 0.9) 20%, rgba(255, 0, 0, 0));

                    }

                    &:hover:before {

                        background-image: linear-gradient(to top, rgba($color-dark-blue, 0.9) 100%, rgba(255, 0, 0, 0));
                    }


                    position: relative;

                    & img {
                        height: 100%;
                        width: 100%;

                    }

                    &-info {

                        position: absolute;
                        bottom: 1%;
                        padding: 2rem;
                        width: 100%;

                        & h2 {
                            font-size: 3rem;
                            color: $color-white;
                            font-family: $font-rufina;


                        }

                        &-price {


                            margin-top: 1rem;
                            font-size: 2rem;
                            display: flex;

                            justify-content: space-between;
                            font-family: $font-oswald;
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: 3px;

                            &-1 {
                                color: $color-orange-light;


                            }

                            &-2 {
                                color: $color-white;
                            }
                        }
                    }

                }
            }

            &-intro {
                padding: 2rem 0 0 10rem;

                @media only screen and (max-width:450px) {


                    text-align: center;
                    padding: 2rem;
                }

                &-item {
                    & p {
                        @include pStyle($color-primary-dark);

                        @media only screen and (max-width:450px) {

                            padding-left: 0;
                        }
                    }

                    & a {
                        color: $color-red-berry;
                        font-size: 1.6rem;
                        letter-spacing: 3px;
                        font-family: $font-oswald;
                        font-weight: 200;
                        padding: 1rem 5rem;
                        border: 1px solid $color-red-berry;
                        text-transform: uppercase;

                        cursor: pointer;

                        &:hover {
                            color: $color-white;
                            background: $color-red-berry;
                        }
                    }
                }
            }

        }
    }

}

.home-story {
    display: flex;
    justify-content: center;
    background: $color-second-blue;

    &-content {
        max-width: 60%;
        display: flex;
        align-items: center;

        @media only screen and (max-width:1150px) {

            max-width: 80%;

        }

        @media only screen and (max-width:900px) {
            max-width: 100%;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 3rem 10rem 3rem 3rem;
            color: $color-white;
            font-family: $font-muli;

            @media only screen and (max-width:900px) {
                padding: 3rem;
            }

            & h1 {

                color: $color-white;
                text-align: end;

                @media only screen and (max-width:900px) {
                    text-align: start;
                    ;
                }

            }

            & p {

                font-size: 1.5rem;
                margin: 2rem 0 6rem 0;
                padding-right: 5rem;
                line-height: 1.5;

                @media only screen and (max-width:900px) {
                    margin: 2rem 0;
                }

            }

            & .arrow-btn {
                @include btnArrow($color-orange-light);


            }
        }

        & img {
            transform: translateY(-10%);

            @media only screen and (max-width:1350px) {
                max-width: 30rem;
                transform: translateY(-20%);
            }

            @media only screen and (max-width:900px) {
                display: none;
            }
        }
    }

    &-img {
        & img {
            width: 100%;
        }
    }
}

.home-news {
    padding: 8rem 0;
    list-style: none;

    @media only screen and (max-width:900px) {

        padding: 10rem 2rem;


    }

    @media only screen and (max-width:600px) {

        padding: 2rem 2rem 15rem 2rem;
    }


    &-item {
        cursor: pointer;

        &:hover {
            background: $color-dark-blue;

            .home-news-item-card-content-summary {
                color: $color-white;
            }
        }

        &-card {
            display: flex;
            margin: 0 auto;
            width: 50%;
            border-bottom: 1px solid $color-gray-light;
            padding: 2rem 0;

            @media only screen and (max-width:900px) {

                width: 100%;


            }

            &-img {
                padding: 1rem;

                & img {
                    width: 100%;

                    @media only screen and (max-width:550px) {

                    width:9rem;


                    }
                }

            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 2;
                margin-left: 4rem;
                padding-right: 3rem;
                   @media only screen and (max-width:550px) {

                    margin-left:2rem;
                    padding-right:0;

                    }
                &-date {
                    font-size: 1.2rem;
                    font-family: $font-oswald;
                    color: $color-gray-light;
                    font-weight: 700;
                    letter-spacing: 2px;
                }

                &-summary {
                    font-size: 2.5rem;
                    font-weight: 700;
                    font-family: $font-rufina;
                    color: $color-red-berry;
                    font-weight: 700;
                }


            }
        }
    }
}

.home-time {

    padding: 8rem 0;

    @media only screen and (max-width:1350px) {
        & img {
            width: 30rem;
        }
    }

    @media only screen and (max-width:900px) {

        display: none;

    }

    &-content {
        max-width: 60%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 8rem;

        @media only screen and (max-width:1150px) {

            max-width: 80%;

        }

        @media only screen and (max-width:900px) {

            max-width: 100%;


        }

        &>* {
            z-index: 9;
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 70%;
            background: $color-gray;
            transform: translateY(-50%);


        }

        &-visit {
            flex-grow: 2;

            color: $color-red-berry;
            font-family: $font-rufina;
            transform: translate(-30%, -50%);
            font-weight: 900;

        }

        &-day {
            align-self: center;
            justify-self: flex-start;
        }

    }

    &-clock {
        background: $color-white;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 1px solid $color-gray-light;
        position: absolute;
        top: 10%;
        right: -5%;
        z-index: 9;
        transform: translateY(-50%);

        @media only screen and (max-width:900px) {

            right: 5%;


        }

        .number {
            --rotation: 0;
            font-size: 1rem;
            color: $color-gray-light;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            transform: rotate(var(--rotation));

            &-1 {
                --rotation: 30deg;
            }

            &-2 {
                --rotation: 60deg;
            }

            &-3 {
                --rotation: 90deg;
            }

            &-4 {
                --rotation: 120deg;
            }

            &-5 {
                --rotation: 150deg;
            }

            &-6 {
                --rotation: 180deg;
            }

            &-7 {
                --rotation: 210deg;
            }

            &-8 {
                --rotation: 240deg;
            }

            &-9 {
                --rotation: 270deg;
            }

            &-10 {
                --rotation: 300deg;
            }

            &-11 {
                --rotation: 330deg;
            }
        }

        .hand {
            --rotation: 60deg;
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform-origin: bottom;
            transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
            background: $color-gray-light;

            &-second {

                width: 0.1rem;
                height: 45%;
            }

            &-minute {

                width: 0.2rem;
                height: 40%;
            }

            &-hour {

                width: 0.2rem;
                height: 30%;
            }
        }
    }

    &-table {
        @media only screen and (max-width:900px) {
            display: none;
        }

        display: flex;
        justify-content: center;

        padding: 3rem;
        font-size: $font-oswald;

        & th {

            text-transform: uppercase;
            font-weight: 900;
            font-size: 2rem;
        }

        & th,
        & td {
            height: 3rem;
            width: 8rem;
            text-align: start;

        }

        & td {
            color: $color-gray-light;
            font-size: 1.5rem;

        }

    }
}

@mixin inputStyle($width, $pad) {
    font-family: $font-muli;
    background: transparent;
    border: none;
    width: $width;
    padding: $pad 0;
    font-size: 1.6rem;
    border-bottom: 1px solid $color-gray-light;

    &::placeholder {
        font-size: 1.5rem;
    }

    &:focus {
        outline: none;
    }
}

@mixin buttonSend() {
    background: $color-red-berry;
    color: $color-white;
    border: none;
}

.news-letter {
    background: $color-gray;
    margin: 10rem 0;

    &-box {

        padding: 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-content {

            margin-top: 5rem;

            & input {
                @include inputStyle(30rem, 1.3rem);
                margin-right: 2rem;


            }

            & a {
                @include buttonSend();

            }
        }

    }

}

.form-box {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-muli;

    & input,
    textarea {
        @include inputStyle(50rem, 2rem);

    }

    & textarea {


        height: 20rem;
        margin-bottom: 4rem
    }

    & .navbar-button-book {
        align-self: flex-end;
        @include buttonSend()
    }
}