@import '../var';




.menu-page {
    @include pageStyle();

}

.menu-top {

    @include pageName();

    & p {
        @include pStyle($color-primary-dark);
        margin-top: 5rem;
    }

}

.menu-food {
    &-1 {
        @include backgroundPage(url("../img/menu/menu-bg-1.jpg"));

        @include boxImgStyle(-5rem);


        @include infoStyle();
    }

    &-2 {


        @include boxImgStyle(5rem);


        @include infoStyle();
    }

    &-3 {
        @include backgroundPage(url("../img/menu/menu-bg-3.jpg"));



        @include boxImgStyle(-5rem);


        @include infoStyle();
    }

    &-4 {

        @include boxImgStyle(5rem);

        @include infoStyle();

        & p {
            font-size: 1.6rem;
            padding: 5rem;
            line-height: 2;
            font-family: $font-muli;
            ;
        }

    }
}