$color-orange-light:#F6D478;
$color-primary-dark:#161A28;
$color-gray-light:#9B9B9B;
$color-white:#ffff;
$color-dark-blue:#2C3346;
$color-red-berry:#6b0d2b;



// font-family: 'Muli', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Rufina', serif;

$font-rufina :'Rufina', serif;
$font-muli:'Muli', sans-serif;
$font-oswald:'Oswald', sans-serif;