@import '../var.scss';

.specials-page {
    @include pageStyle();
    padding-bottom: 0 !important;

}

.specials-top {
    @include pageName();

    & h1 {
        padding: 1rem 0;
        border-bottom: 2px solid;
    }
}

.specials {
    @include backgroundPage(url("../img/specials/special-bg.jpg"));

    @include boxImgStyle(-5rem);

    @include infoStyle();

    &-info {
       
        @media only screen and (max-width:450px) {

            margin-bottom: 5rem;
        }
           @media only screen and (max-width:900px) {

            
                order: 2;
            
        }

        & div {

            flex-direction: column;
        }


        &-date,
        &-price {
            font-size: 1.2rem;
            color: $color-orange-light;
            font-family: $font-oswald;
        }

        &-slogan {
            font-size: 1.6rem;
            padding: 5rem;
            line-height: 2;
            font-family: $font-muli;

            @media only screen and (max-width:450px) {

                padding: 2rem;
            }
        }

        &-price {

            text-align: end;

        }
    }
}